# fly.toml app configuration file for payridge-expense-system (formerly prudence)
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'prudenceapp'
primary_region = 'iad'

[build]

[deploy]
  release_command = "npx prisma db push"

[env]
  NODE_ENV = 'production'
  NEXTAUTH_URL = 'https://capitalpaybooks.pro'
  AUTH_URL = 'https://capitalpaybooks.pro'
  AUTH_TRUST_HOST = 'true'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
